.review {
    width: 450px;
    margin: 0px 15px;
    padding: 25px 45px;
    background-color: rgb(241, 241, 241);
}

.review img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.review h1 {
    color: rgb(105, 105, 105);
    font-size: 30px;
    font-weight: 100;
    margin: 5px 0px;
}

.review h2 {
    font-size: 23px;
    font-weight: 100;
    color: rgb(46, 46, 46);
    margin: 10px 0px;
}

.review p {
    width: 400px;
    font-size: 20px;
    color: rgb(105, 105, 105);
    margin-top: 40px;
}

