body {
    margin: 10px auto;
    width: 470px;
}

h3 {
    margin: 0;
    padding-bottom: .3em;
    font-size: 1.1em;
}

p {
    margin: 0;
    padding: 0 0 .5em;
}

.pane {
    display: block;
    position: relative;
    background: #edf5e1;
    padding: 10px 20px 10px;
    border-top: solid 2px #c4df9b;
}

.hideMsg {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border-color: transparent;
}